# Ignore everything
*

# But not these files...
!.gitignore
!Importdata.py
!alldata.csv
!alldata.xlsx
!requirements.txt
!ML_data_types.csv
!linear_regression.py
!data_types.csv
!playerData/
!playerData/*
!importWPandas.py
!data/
!data/*
